html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Latin Modern Sans", "Liberation Sans", "Deja Vu Sans", Calibri, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    position: relative;
}

#left-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#splitter {
    position: absolute;
    left: 75%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: silver
}

#toolbar {
    z-index: 100;
    min-height: 1.4rem;
    line-height: 1.4rem;
    vertical-align: middle;
    background: #BEE7FF;
    padding: 0;
    font-size: 0;
    flex-direction: row;
    display: flex;
}

#toolbar .left {
    flex: 1;
}

#toolbar .sep {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-left: 1px solid #5AC;
    display: inline-block;
    vertical-align: middle;
    height: 1.2rem;
}

#toolbar button, #toolbar select {
    color: black;
    min-height: 28px;
    border: 0;
    min-width: 22px;
    vertical-align: middle;
    display: inline-block;
    background: transparent;
    margin: 0;
    padding: 0 3px;
    transition: 250ms;
}

#toolbar .symb {
    font-size: 1rem;
}

#toolbar button img {
    margin: 0 1px
}

#toolbar button:hover:not(.greyed), #toolbar select:hover:not(.greyed) {
    background: rgba(0, 0, 0, 0.1)
}

.greyed {
    opacity: 0.5;
}

#toolbar button:last-child, #toolbar select:last-child, .algomode #saveas, .codemode #redraw, .launch-disabled #algorun, .algomode #n-automaton {
    margin-right: 1ex;
}

#predef-algos {
    max-width: 20ex;
}

#predef-algos-name {
    width: 16ex;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

#toolbar select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 2ex;
    height: 28px;
    vertical-align: middle;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='10pt' width='10pt'><text x='0' y='10' fill='black' font-size='8pt'>▾</text></svg>") no-repeat right center;
    /*   background-origin: content-box;*/
}

#toolbar select:hover:not(.greyed) {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='10pt' width='10pt'><text x='0' y='10' fill='black' font-size='8pt'>▾</text></svg>") no-repeat right center, rgba(0, 0, 0, 0.1);
}

#toolbar span {
    vertical-align: middle;
}

button * {
    vertical-align: middle
}

#toolbar button, #toolbar select {
    font-size: 0.8rem;
}

#toolbar .text {
    font-size: 0.6rem;
    color: #05A
}

.launch-disabled #algo-exec {
    display: none !important
}

#toolbar button {
    transition: 300ms;
}

#results {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#results-content {
    flex: 1;
    position: relative;
}

#results pre, .libD_notify-area pre {
    white-space: pre-wrap;
}

#splitter {
    cursor: ew-resize;
}

.disabled, .codemode .codemode-disabled {
    display: none !important;
}

#codeedit, #automatoncode {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

#codeedit {
    font-size: 11pt;
    line-height: 16pt;
    font-family: "Monaco", "Menlo", "Consolas", "Monospace", "Droid Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "Ubuntu Mono", monospace;
    height: 100%;
}

.designmode .algomode-specific {
    display: none !important;
}

.algomode .designmode-specific {
    display: none !important;
}

#svg-container, #toolbar, #results svg {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#svg-container, #automatoncode, #automatoncodeedit {
    border: 0;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#automatoncodeedit {
    background: transparent;
    padding: 0.5ex;
    font-size: large;
    font-family: "Monospace", "DejaVu Sans Mono", "Liberation Mono", "Ubuntu Mono", monospace;
}

#word {
    position: absolute;
    left: 1em;
    top: 1em;
    right: 1em;
    color: #666;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 2px gray;
}

#word span {
    transition: 400ms ease-out;
    display: inline-block;
    opacity: 1;
    transform: scale(1);
}

#word .eaten {
    opacity: 0;
    transform: scale(3) translate(-8px, -8px);
}

#results-tb button {
    background: #556068;
    border-radius: 2px;
    border: 1px solid #AAA;
    margin-top: 0.8ex;
    color: #F1F1F1;
    vertical-align: middle;
    font-size: small
}

#results-tb {
    text-align: center;
    font-size: 0
}

#results-tb:hover {
    opacity: 1;
}

select {
    display: inline-block;
}

.libD_notify-area {
    max-width: 80%;
    max-height: 80%
}

#div-quiz {
    position: relative;
    z-index: 100;
    max-height: 100%;
    overflow: auto;
}

#div-quiz, #quiz-content {
    display: flex;
    flex-direction: column;
}

#quiz-automata-designer {
    position: relative;
    width: 100%;
    height: 200px;
}

#quiz-content, #quiz-automata-designer {
    flex: 1;
}

#quiz-title, #quiz-author {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal
}

#quiz-title {
    font-size: 1.5em;
    color: #038;
    margin-bottom: 0.5rem;
    padding-bottom: 0
}

#quiz-author {
    color: #444;
    font-size: small;
    margin-top: 0;
    padding-top: 0;
    font-style: italic
}

#close-quiz, #close-quiz-editor, #close-question-settings {
    position: absolute;
    top: 0;
    font-size: small;
    right: 0;
    color: #C63;
    text-decoration: none;
    padding-right: 1ex
}

#div-quiz.started #quiz-descr {
    display: none
}

#quiz-descr, #quiz-content {
    text-align: justify;
    margin: 1em 1ex;
    color: #222;
}

.button-container {
    text-align: center;
    margin-top: 1ex
}

#div-quiz button {
    background: #F1F1F1;
    border-radius: 4px;
    border: 1px solid silver;
    padding: 2px;
    margin: 0 0.5ex;
    box-shadow: 0 0 1px silver;
    transition: 500ms
}

#div-quiz button:hover {
    box-shadow: 0 0 1px gold;
    background: #FAFAF1;
}

#quiz-answers>ul, #question-answers-checkbox-list {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    color: black
}

#quiz-answers input {
    margin-right: 1em
}

.quiz-answer-id {
    color: green;
    display: inline-block;
    min-width: 3ex
}

.quiz-question-id {
    color: gray
}

#quiz-answers label, #question-answers-checkbox-list label {
    display: block;
    margin: 0.5ex 0;
    border-radius: 3px;
    transition: 500ms;
}

#quiz-answers label:hover, #question-answers-checkbox-list label:hover {
    background: #FFFFCC;
    box-shadow: 0 0 5px #FFFFCC
}

#automata-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

table {
    border-collapse: collapse;
    margin: auto;
}

#correction-table {
    box-shadow: 2px 2px 2px silver;
}

td, th {
    border: 1px solid gray;
    padding: 0.5ex;
}

#correction-table td {
    vertical-align: top;
    text-align: left
}

#correction-table .possibilities li, .qcmt li {
    list-style: none;
}

.qinst .possibilities, .qcmt ul {
    margin: 0;
    padding: 0;
}

.qinst .possibilities li {
    margin-left: 1ex
}

#correction-table th {
    background: #F5F5F5;
    text-align: center;
    font-size: x-small;
}

.qstate {
    text-align: center !important
}

.qid {
    color: #07C;
    float: left;
    font-size: bold
}

#svg-container {
    z-index: 100;
}

#welcome {
    z-index: 0;
    line-height: 1.7em;
    background: white;
    position: absolute;
    font-size: large;
    color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 1em;
}

#welcome>last-child {
    padding-bottom: 6em;
}

#welcome p, #welcome ul {
    max-width: 110ex;
}

#welcome li {
    margin-left: 0;
    padding-left: 1ex;
    list-style: none;
}

#welcome li:before {
    position: relative;
    left: -1ex;
    content: "✓";
    color: #A50
}

#welcome h2 {
    color: black;
    font-size: 36pt;
    color: #05A;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: normal
}

#welcome h3 {
    font-weight: normal;
    font-size: 22pt;
    color: #3A3
}

#word-layer1, #word-layer2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    z-index: 10;
}

#word-layer2 {
    opacity: 0.4;
    z-index: 0;
}

#automata-list-chooser {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: #EFFAFF;
    max-width: 40ex;
    box-shadow: -1px 0 1px #DDD;
}

#automata-list-chooser-close {
    position: absolute;
    top: 0;
    right: 1ex;
    font-size: small;
    text-decoration: none;
    color: red
}

#automata-list-chooser svg {
    max-width: 2rem;
    max-height: 2rem;
}

#automata-list-chooser-content {
    list-style: none;
    padding: 0;
    margin: 1ex 1px;
    border: 1px solid #DDD;
    background: white;
}

#automata-list-chooser-content li {
    padding: 0.3ex;
    margin: 0;
}

#automata-list-chooser-content li span, #automata-list-chooser-content li svg {
    display: inline-block;
    vertical-align: middle;
}

#automata-list-chooser-content li:hover {
    background: #DEF
}

#automata-list-chooser-content a {
    text-decoration: none;
    display: block;
    color: gray
}

#automata-list-chooser p {
    text-align: justify;
    text-indent: 2ex;
    font-size: small;
    color: gray;
    font-style: italic;
    margin: 1.5rem 1ex 0 0;
}

.automaton-number {
    color: #0A5;
    font-weight: bold;
    text-align: right;
    padding: 0 0.5ex;
    float: right;
    min-width: 3ex;
    right: 0
}

#pane-distantfile a {
    text-decoration: none;
    color: gray
}

#loaddistantfile p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#pane-distantfile, #pane-localfile {
    padding: 1ex
}

#pane-localfile {
    float: right
}

#pane-localfile button {
    margin-left: 1em
}

#loaddistantfile .title {
    color: #444;
    font-size: 1.2em;
    margin-top: 3px;
    padding-top: 0;
    font-weight: bold
}

#pane-distantfile {
    float: left
}

p img {
    vertical-align: middle
}

.automata-designer-resize-handle-rect {
    stroke: #A40;
    stroke-dasharray: 5, 5;
    fill: none
}

.automata-designer-resize-handle {
    stroke: #A40;
    fill: #F50
}

.automata-designer-overlay {
    border-radius: 4px;
    position: absolute;
    background: #333;
    box-shadow: 0 0 3px black;
    margin: 0;
    list-style: none;
    padding: 0;
    transition-duration: 200ms;
    transition-property: opacity, color;
    overflow: hidden;
    opacity: 0.5
}

.automata-designer-overlay:hover {
    opacity: 1
}

.automata-designer-overlay li {
    transition: 200ms;
    color: white;
}

.automata-designer-overlay li:hover {
    background: white;
    color: black;
}

.automata-designer-overlay a {
    text-decoration: none;
    padding: 0.5ex;
    font-size: small;
    color: inherit;
    display: block;
}

#new-state-btn-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 1));
    height: 13ex;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 20px;
}

#new-state-btn-wrap.welcome-hidden {
    position: static;
    background: transparent
}

#new-state-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
    border: 1px solid #BB8;
    color: #883;
    font-size: small;
    background: #FFC;
    border-radius: 10000px;
    opacity: 0.7;
    padding: 1ex;
    min-height: 13ex;
    display: inline-block;
    vertical-align: middle;
    line-height: 13ex;
    text-align: center;
    min-width: 13ex;
    transition: 200ms;
    cursor: pointer;
    z-index: 1000;
}

#new-state-btn-wrap:not(.welcome-hidden) #new-state-btn, #new-state-btn:hover {
    opacity: 1
}

#new-state-btn.mouse-down {
    opacity: 1;
    background: orange
}

.prompt-container {
    display: flex;
    align-items: center;
    padding: 2px
}

.prompt-input {
    flex: 1;
    width: 100%;
    border-right: none;
    margin-right: 0 !important;
}

.prompt-btn {
    margin-left: 0 !important;
}

input[type=text], input[type=password] {
    border-radius: none;
    box-sizing: border-box;
    min-height: 1.5rem;
    outline: none;
    margin: 1px;
    border: 1px solid silver;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #5CF;
    box-shadow: 0 0 1px #5CF
}

input[type=button], button, select {
    /*margin: 1px;*/
    border-radius: 0;
    min-height: 1.5rem;
    border: 1px solid silver;
    background: white;
    color: black;
}

input[type=button]:active, button:active {
    background: #D5D5D5
}

.libD_notify-descr svg {
    max-width: 100%
}

.libD_notify {
    overflow: hidden;
    max-height: 75%
}

#menu {
    z-index: 3000;
    position: absolute;
    right: 0;
    background: white;
    box-shadow: 0 0 2px black;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#menu button {
    background: inherit;
    border: 0;
    color: inherit;
    box-shadow: none;
    text-align: left;
}

#menu button img {
    margin-right: 3px;
}

#menu button:hover {
    background: #7BF;
    color: white;
}

#quiz-editor {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#question-editor-wording-text-area {
  width:calc(100% - 5px);
  box-sizing: border-box
}

#quiz-editor-content h5 {
  margin-bottom:2px;
}

.quiz-editor-pane {
    max-width: 130ex;
    margin: auto;
}

/* Class used to hide elements in the quiz editor. */
.quiz-editor-hidden {
    display: none !important;
}

#quiz-editor h1, #quiz-editor .big-center {
    text-align: center;
}

#quiz-editor-content {
    padding: 1ex;
    flex: 1;
    clear: both;
}

#quiz-editor-point-input {
    width: 4.25rem;
}

#quiz-editor p>input[type="text"]:first-child:last-child {
    width: 100%;
    box-sizing: border-box;
}

#quiz-editor .big-center>button {
    padding: 1ex;
}

#quiz-editor-QuestionEdit-pane {
    text-align: left;
}

#quiz-editor-newquestion {
    padding: 1ex;
}

#quiz-editor-open-save-buttons {
    float: left;
}

#quiz-editor-preview {
    width: 90%;
    display: none;
}

#quiz-editor-content h1 {
    margin-top: 0;
    padding-top: 0;
    position: relative;
}

#quiz-editor-NewQuestion-pane.quiz-editor-pane {
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
}

.quiz-editor-pane {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.quiz-editor-pane:not(.quiz-editor-current-pane) {
    display: none !important;
}

#quiz-editor.overview-mode #quiz-editor-overview-btn {
    display: none;
}

#quiz-editor-automatonR-pane {
    display: flex;
    flex-direction: column;
}

#quiz-editor-automatonR-pane h2 {
    margin: 0;
    font-size: 1rem;
}

#quiz-editor-automatonR-panes {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.quiz-editor-disp-flex {
    display: flex;
    flex-direction: column;
}

.quiz-editor-flex {
    flex: 1;
    position: relative;
}

#quiz-editor-automatonR-panes>div {
    box-sizing: border-box;
    padding: 0.5ex;
    width: 50%;
}

#quiz-editor textarea {
    margin: 0;
}

#quiz-editor #quiz-editor-audescriptCode {
    margin: 0.5ex
}

.automaton-draw-area {
    height: 100%;
    width: 100%;
    position: relative;
    background: #FFF;
    border: 1px solid silver;
    box-sizing: border-box;
}

#quiz-editor-audescriptCode {
    margin: 0.5ex;
}

#quiz-editor-divPoint {
    background-color: write;
}

#quiz-editor-regexR-pane {
    display: flex;
    flex-direction: column;
}

#quiz-editor-regexR-pane-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#quiz-editor-regexR-pane-content>div {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#quiz-editor-regexR-pane-content>div>div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 0.25ex;
    margin-right: 0.25ex;
}

#quiz-editor-regexR-pane-content textarea {
    margin-bottom: 1ex;
}

#quiz-editor .help {
    text-align: justify;
    font-size: small;
    color: #D50;
}

#quiz-editor .grammalecte_menu_main_button {
    /* Workaround: The Grammalecte extension is buggy here */
    display: none !important;
}

/*To show algorithm*/

#up-select-algo, #down-select-algo {
    vertical-align: bottom;
    margin-left: 2px;
    margin-right: 2px;
}

#container-algos {
    background-color: #CFC;
}

#container-algos h1 {
    font-weight: bold;
    color: #373;
    font-size: 1rem;
}

#container-algos h1:only-child {
    display: none;
}

#container-algos-search-div p {
    margin: 0;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

#container-algos-search {
    flex: 1;
}

#container-algos-search-clear {
    color: red;
    font-weight: bold;
}

#container-algos-content {
    display: flex;
    transition-property: display;
    flex-direction: row;
}

#sup-container-algo-automata {
    min-width: 50%;
    text-align: left;
}

#container-algo-automata {
    display: flex;
    flex-direction: row;
}

#container-algo-gammar-re, #container-algo-re, #container-algo-gammar {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

#container-algo-other {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

#container-algo-automata-right, #container-algo-automata-left {
    min-width: 40%;
    display: flex;
    flex-direction: column;
}

.cell-algo {
    text-align: left;
    text-decoration: none;
    border: none;
    background-color: inherit;
}

.cell-algo:hover {
    background: #7C7;
}

.algo-selected {
    background: #3A3;
}

.algo-hidden {
    display: none;
}

/*End to show algorithm*/

/*Question list*/
#questionList-container {
    margin: 0;
    padding: 0;
    text-align: center;
}

#questionList-selection-chapter {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.questionList-selection-chapter-cell-button {
    font-size: 1.15em;
    padding: 0.5rem;
    margin: 0px;
    text-decoration: none;
    transition: 300ms background-color;
    background-color: rgba(239, 240, 241, 0.93);
    float: left;
}

.questionList-selection-chapter-cell-button:hover, .load-mode:hover {
    background-color: lightgray;
}

.questionList-selected {
    background-color: rgba(239, 100, 100) !important;
}

#questionList-selection-question {
    margin: 1.5rem;
    box-shadow: 6px 6px 5px grey;
    border: 3px solid #aaa;
    background-color: rgba(239, 240, 241, 0.93);
    text-align: center;
}

.questionList-question-select {
    transition: 300ms background-color;
    padding: 1rem;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.questionList-question-select:hover {
    background-color: lightgray;
}

/* The top button bar */
#questionList-container-button-navigation {
    display: inline-block;
    width: 99.5%;
    margin: 2px 0.25% 5px 0.25%;
}

#close-questionList, #questionList-btnbar-chapterMenu {
    font-size: small;
    color: #C63;
    text-decoration: none;
    float: right;
}

#questionList-btnbar-chapterMenu {
    margin-right: 0.5rem;
}

#question-answer-button-container {
    padding: 0.25rem;
}

#generate-automaton-specification-questionList {
    font-size: small;
    color: #C63;
    text-decoration: none;
    float: left;
}

#question-wording-text {
    padding: 10px;
}

#question-wording-details {
    text-align: center;
    padding: 20px;
    width: 100%;
}

#question-automaton-designer {
    position: relative;
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: row;
}

.question-automaton-designer {
    width: 100%;
    height: 20em;
    display: block;
}

.question-other-info {
    width: 100%;
    display: block;
}

#question-automata-designer-right, #question-automata-designer-left {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 50%;
    height: 20em;
    float: left;
}

#question-wording-details-left, #question-wording-details-right {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 50%;
    height: 20em;
    float: left;
}

#question-wording-alphabet {
    width: 100%;
    text-align: center;
}

#question-answers-automaton {
    position: relative;
    padding: 10px;
    height: 500px;
    margin: 20px;
    border: 2px solid #bbb;
    box-shadow: 6px 6px 5px grey;
}

#question-answers-input {
    margin: 50px;
    min-width: 50%;
}

.arrow {
    font-size: 2em;
    vertical-align: bottom;
    display: inline-block;
}

fieldset {
    margin: 20px;
    border: 2px solid #bbb;
}

.question-answers-radio {
    margin: 10px;
}

#question-solution-automaton {
    position: absolute;
    top: 65%;
    left: 65%;
    width: 30%;
    height: 30%;
    border: 2px solid #00802b;
    box-shadow: 3px 3px 2px #404040;
}

#question-solution-table {
    margin: 20px;
    padding: 20px;
}

#question-solution-input {
    margin: 20px;
    padding: 5px;
    border: 2px solid #00802b;
    box-shadow: 3px 3px 2px #404040;
}

#div-settings-question {
    background-color: grey;
    padding: 10px;
}

.div-settings-question-container-row {
    display: flex;
    flex-direction: row;
}

.div-settings-question-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.span-settings-question {
    margin: 10px;
}

/*Load file for the question*/

#selection-automaton, #selection-re, #selection-grammar {
    margin: 10px;
}

#load-automaton-question {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.load-automaton-button {
    margin: 1px;
    background-color: inherit;
    border: none;
    text-decoration: none;
}

#load-automaton-question-list {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.load-button {
    margin: 5px;
    background-color: inherit;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.load-button:hover {
    background-color: rgba(180, 180, 180);
}

#load-automaton-main-container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

#display-loaded-automaton {
    position: relative;
    width: 50%;
}

.load-automaton-sep {
    display: inline-block;
    height: inherit;
    min-width: 3px;
    margin: 5px;
    box-shadow: 2px 2px 1px #595959;
    background-color: #a6a6a6;
}

/*End load an automaton for the question*/

/*For the algorithm table to automaton*/

#div-container-table {
    background-color: grey;
    border: 5px solid #aaa;
    padding: 10px;
}

#div-container-table-absolute {
    position: absolute;
    z-index: 100000;
    top: 50px;
    left: 100px;
}

#div-container-input-automaton {
    display: inline-block;
    margin: 10px;
}

.div-container-input-line-automaton, .div-container-input-line2-automaton {
    display: flex;
    flex-direction: row;
}

.div-container-input-states {
    display: flex;
    flex-direction: row-reverse;
}

.div-container-input-symbols {
    display: flex;
    flex-direction: column;
}

.div-container-input-transition {
    display: flex;
    flex-direction: column;
}

.cell-input-automaton {
    border: 1px solid black !important;
    max-width: 60px;
    margin: 0px !important;
    padding: 0px;
}

/*End algorithm table to automaton*/

/*For the help window*/

#help-main, #help-command {
    background-color: #eee;
    display: inline-block;
    padding: 5px;
}

#help-index {
    margin: 8px;
    box-shadow: 5px 5px 4px grey;
    border: 2px solid #aaa;
}

.help-indent {
    padding-left: 10px;
}

.help-instruction {
    color: blue;
}

.help-selection-chapter, .load-mode {
    font-size: 20px;
    padding: 3px;
    margin: 0px;
    border-left: 2px solid #bbb;
    text-decoration: none;
    background-color: rgba(239, 240, 241, 0.93);
}

.help-index-button {
    margin: 1px;
    background-color: rgba(239, 240, 241, 0.93);
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.help-index-button:hover {
    background-color: rgba(150, 150, 150);
}

/*End help window*/

/*Inputs grammar*/

#input-block-grammar {
    padding: 5px;
}

#div-enter-easy-grammar {
    padding-top: 10px;
}

/*End inputs grammar*/

#div-menu-search {
    padding: 5px;
}

.symbol-animation-search {
    text-decoration: none;
    border: none;
    background-color: inherit;
}

.symbol-animation-search:hover {
    border: 1px solid grey;
    background-image: linear-gradient(to bottom right, rgb(150, 150, 150), rgb(100, 100, 100));
}

/* Grammar Designer Style */
#grammar-designer-terminal-div, #grammar-designer-nonterminal-div {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    border: 2px solid grey;
    padding: 1em;
}

#grammar-designer-select-start[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
}

#grammar-designer-rules-div {
    width: 100%;
    padding: 1em;
}

#grammar-designer-rules-list {
    list-style-type: none;
}

.grammar-designer-hidden {
    display: none !important;
}

/* Workaround to allow KaTeX math blocks to autowrap. */
.katex > .katex-html {
	white-space: normal;
}

.katex .base {
	margin-top: 2px;
	margin-bottom: 2px;
}

/* Question editor components */
#question-editor-wording-text {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    float: left;
}

#question-editor-wording-text-preview {
    width: 50%;
    height: 5em;
    border: 1px solid lightgray;
    box-sizing: border-box;
    float: left;
}

#question-editor-wording-figure1-content, #question-editor-wording-figure2-content {
  width: 100%;
  height: fit-content;
}

.question-editor-wording-figure-automaton {
    position: relative;
    flex: 1;
    height: 15em;
    width:100%;
    display: inline-block;
    border: 1px solid black;
}

.question-editor-mcq-automaton-preview {
    position: relative;
    height: 10em;
    width: 100%;
    display: inline-block;
}

.question-editor-hidden {
    display: none;
}

#question-editor-textinput-validation-audescript {
    width: 100%;
    height: 10rem;
    position: relative;
}

.question-editor-audescript-editor {
    width: 100%;
    height: 10rem;
    position: relative;
}

/* The automaton editors object themselves. */
.automaton-designer {
    margin: 1rem;
    padding: 0.33rem;
}
/* The div containing the SVG for automaton designers. */
.automaton-designer-input {
    width: 95%;
    height: 20rem;
    display: block;
    position: relative;
}

.automaton-display {
    border: 0;
    background: none;
    min-height: 100px;
}

.automaton-display-svg {
    min-height: 7.5rem;
    max-height: 15rem;
    width: 100%;
}

.user-hidden {
    display: none !important;
}

#user-menu {
    z-index: 4000;
    position: absolute;
    right: 0;
    top: 25px;
    background: white;
    box-shadow: 0 0 2px black;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
}

#automaton-manager {
    background-color: #eee;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.user-pane:not(.user-pane-current) {
    display: none !important;
}
